<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernate_proyecto_2206_sesionnnn">
    	<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">s.94teward</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/gestorproyecto</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        
<!--          <mapping class="com.model.Basicobjectpropertyvalue" /> -->
         <mapping class="com.model.Activity"/>
  <mapping class="com.model.Businessline"/>
  <mapping class="com.model.Businesssubjecttype"/>
  <mapping class="com.model.Businessubject"/>
  <mapping class="com.model.Controlchange"/>
  <mapping class="com.model.Detailfile"/>
  <mapping class="com.model.Document"/>
  <mapping class="com.model.Documenttype"/>
  <mapping class="com.model.Entitytype"/>
  <mapping class="com.model.Groupteam"/>
  <mapping class="com.model.Grouptype"/>
  <mapping class="com.model.Marketline"/>
  <mapping class="com.model.Meetingrecord"/>
  <mapping class="com.model.Permission"/>
  <mapping class="com.model.Permissionprofile"/>
  <mapping class="com.model.Phase"/>
  <mapping class="com.model.Portfolio"/>
  <mapping class="com.model.Processgrouptype"/>
  <mapping class="com.model.Profile"/>
  <mapping class="com.model.Project"/>
  <mapping class="com.model.Requirement"/>
  <mapping class="com.model.Riskmatrix"/>
  <mapping class="com.model.Stakeholder"/>
  <mapping class="com.model.State"/>
  <mapping class="com.model.Systemuser"/>
  <mapping class="com.model.Task"/>
  <mapping class="com.model.Taskdetail"/>
  <mapping class="com.model.Taskhistory"/>
  <mapping class="com.model.Team"/>
  <mapping class="com.model.Trace"/>
  <mapping class="com.model.Typepayment"/>
  <mapping class="com.model.Userprofile"/>
         
         
    </session-factory>
</hibernate-configuration>
